body{
    margin: 0;
    padding: 0;
    background: url('1.jpg');
}
   
ul{
    list-style-type: none;
    background-color: black;
    color: white;
}
ul li{
   display: inline-block;   
   padding: 10px;
}
ul li:hover{
background-color:green;
color: white;  



}

.dropdown{
    display: none;
}
ul li:hover .dropdown {
    display:block;
    position: absolute;
   margin-left: -0.25cm;
   margin-top: 0.27cm;


}
.dropdown ul li{
    display: block;
}
.dropdown ul{
    margin: 0%;
    padding: 0%;
}
.dropdown ul li:hover > .dropdown2{
    display: block;
    position: absolute;
    margin-left: 134px;
    margin-top: -0.77cm;
}
.dropdown2{
    display: none;

}


